[*.cs]

# CA1822: Mark members as static
dotnet_diagnostic.CS8321.severity = silent
dotnet_diagnostic.CA1050.severity = silent
dotnet_diagnostic.CA1822.severity = silent
dotnet_diagnostic.IDE0060.severity = silent
dotnet_diagnostic.IDE0062.severity = silent
