@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "ロックアウト";
}

<hgroup>
    <h1 class="text-danger">ロックアウトされています。</h1>
    <h2 class="text-danger">このアカウントはロックアウトされています。しばらくしてから、もう一度お試しください。</h2>
</hgroup>
