html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #EEEEF2;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.row {
    display: flex;
}

.column {
    padding: 5px;
}

.left {
    width: 20%;
    background-color: #E2E2E2;
}
.middle { width: 40%; }
.right { width: 40%; }

pre {
    padding: 5px;
    overflow-x: scroll;
    font-family: Consolas, 'Cascadia Mono', monospace;
    background-color: white;
}

.middle pre {
    border: 1pt solid #004F96;
}

.right pre {
    border: 1pt solid #1E7F1E;
}

pre .keyword { color: #0000FF; }
pre .control { color: #8F08C4; }
pre .method { color: #74531F; }
pre .type { color: #2B91AF; }
pre .string { color: #A31515; }
pre .variable { color: #1F377F; }
pre .comment { color: #008000; }
pre .excluded { color: #686868; }
pre .preprocess { color: #686868; }
