@page
@model UnicodeService.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <ul>
        <li><a href="Grapheme">Grapheme Splitter</a></li>
    </ul>
</body>
</html>
